<br><div class="well">
  <h1><%= description.Title %> </h1>
  <p>Description: </p><%= description.Plot %><p>
  <p>Rating: </p>
  <% for (var i = 0; i < rating; i++) { %>
    <b><img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-32.png">
    </b>
  <%  }; %><br>
  <b>rotten tomatoes rating: </b><%= description.tomatoRating %><img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-32.png"><p>
  <b>tomatoe meter: </b><%= description.tomatoMeter %><p>
  <p>critic consensus: </p><%= description.tomatoConsensus %><p>
</div>

